
.mian-div{
  font-family: 'Orbitron', sans-serif; 
}


.clock {
  
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 30px rgba(255, 255, 255, 0.2);
  font-size: 24px;
  color: white;
  text-align: center;
}
.clock::after {
  background: rgba(244, 63, 94, 1) 0%;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.hour_hand {
  position: absolute;
  width: 3px;
  height: 50px;

  background: rgb(244, 63, 94);
  background: linear-gradient(
    0deg,
    rgba(244, 63, 94, 1) 0%,
    rgba(20, 184, 166, 1) 100%
  );
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.min_hand {
  position: absolute;
  position: absolute;
  width: 3px;
  height: 70px;
  top: 22.5%;
  left: 49%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 1px;
  height: 100px;
  background: red;
  top: 10.5%;
  left: 50%;
  transform-origin: bottom;
}
.clock span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.twelve {
  top: 0px;
  left: 46%;
}

.one {
  top: 9%;
  right: 21%;
}

.eleven {
  top: 7%;
  left: 21%;
}

.two {
  top: 25%;
  right: 9%;
}

.three {
  right: 10px;
  top: 46%;
}

.four {
  right: 30px;
  top: 67%;
}

.five {
  right: 69px;
  top: 81%;
}

.six {
  bottom: -1px;
  left: 48%;
}

.seven {
  left: 66px;
  top: 81%;
}

.eight {
  left: 30px;
  top: 67%;
}

.nine {
  left: 10px;
  top: 46%;
}

.ten {
  top: 25%;
  left: 7%;
}
